<footer class="footer-main">
    <div class="header-wrap footer-wrap author-bio">
        <div class="people">
            <div class="person">
                <div>
                    <a href="#">
                        <div class="picture lazyload" style="background-image: url(../../pictures/avt3.jpeg);"></div>
                    </a>
                </div>
                <div class="text">
                    <h3 class="name"><a href="#">Matt Woods</a></h3>
                    <p>I'm a bestselling author who has been roaming the world for over a decade. Let me help you plan your trip of a lifetime!</p>
                    <div class="social-wrap">
                        <a href="#" title="Twitter" class="twitter" style="color: #1da1f2">
                            <i class="fab fa-twitter-square"></i>
                            <span class="social-name">twitter</span>
                        </a>
                        <a href="#" title="Instagram" class="instagram" style="color: #e1306c">
                            <i class="fab fa-instagram"></i>
                            <span class="social-name">instagram</span>
                        </a>
                        <a href="#" title="Youtube" class="youtube" style="color: #ff0000">
                            <i class="fab fa-youtube"></i>
                            <span class="social-name">youtube</span>
                        </a>
                        <a href="#" title="Spotify" class="spotify" style="color: #1ed760">
                            <i class="fab fa-spotify"></i>
                            <span class="social-name">spotify</span>
                        </a>
                        <a href="#" title="Snapchat" class="Snapchat" style="color: #fffc00">
                            <i class="fab fa-snapchat"></i>
                            <span class="social-name">snapchat</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="person">
                <div>
                    <a href="#">
                        <div class="picture lazyload" style="background-image: url(../../pictures/avt2.jpeg);"></div>
                    </a>
                </div>
                <div class="text">
                    <h3 class="name"><a href="#">Paula Hicks</a></h3>
                    <p>An award-winning female travel & lifestyle blog featuring travel tips, fashion and photography from around the world.</p>
                    <div class="social-wrap">
                        <a href="#" title="Twitter" class="twitter" style="color: #1da1f2">
                            <i class="fab fa-twitter-square"></i>
                            <span class="social-name">twitter</span>
                        </a>
                        <a href="#" title="Instagram" class="instagram" style="color: #e1306c">
                            <i class="fab fa-instagram"></i>
                            <span class="social-name">instagram</span>
                        </a>
                        <a href="#" title="Youtube" class="youtube" style="color: #ff0000">
                            <i class="fab fa-youtube"></i>
                            <span class="social-name">youtube</span>
                        </a>
                        <a href="#" title="Spotify" class="spotify" style="color: #1ed760">
                            <i class="fab fa-spotify"></i>
                            <span class="social-name">spotify</span>
                        </a>
                        <a href="#" title="Snapchat" class="Snapchat" style="color: #fffc00">
                            <i class="fab fa-snapchat"></i>
                            <span class="social-name">snapchat</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrap sidebar">
        <section class="widget widget_recent_entries">
            <h2 class="widget-title">Recent Posts</h2>
            <ul>
                <li><a href="#">Molestie at elementum eu facilisis sed</a></li>
                <li><a href="#">Faucibus vitae praesent semper feugiat</a></li>
                <li><a href="#">Aliquam id volutpat lacus laoreet non curabitur</a></li>
                <li><a href="#">Nunc congue nisi vitae suscipit tellus</a></li>
                <li><a href="#">Volutpat sed cras ornare arcu</a></li>
            </ul>
        </section>
        <section class="widget widget_archive">
            <h2 class="widget-title">Achives</h2>
            <ul>
                <li><a href="#">November 2019</a></li>
                <li><a href="#">May 2019</a></li>
                <li><a href="#">April 2019</a></li>
                <li><a href="#">March 2019</a></li>
                <li><a href="#">January 2019</a></li>
            </ul>
        </section>
        <section class="widget bekento_thumbnail_recent_posts">
            <h2 class="widget-title">Our Locations</h2>
            <ul class="travel-markets">
                <li><a href="#">
                    <div class="post-thumbnail lazyload">
                        <div class="market"></div>
                    </div>
                    <div class="post-title>">
                        <span>Molestie at elementum eu facilisis sed</span>
                    </div>
                </a></li>
                <li><a href="#">
                    <div class="post-thumbnail lazyload">
                        <div class="market"></div>
                    </div>
                    <div class="post-title>">
                        <span>Faucibus vitae praesent semper feugiat</span>
                    </div>
                </a></li>
                <li><a href="#">
                    <div class="post-thumbnail lazyload">
                        <div class="market"></div>
                    </div>
                    <div class="post-title>">
                        <span>Aliquam id volutpat lacus laoreet non curabitur</span>
                    </div>
                </a></li>
                <li><a href="#">
                    <div class="post-thumbnail lazyload">
                        <div class="market"></div>
                    </div>
                    <div class="post-title>">
                        <span>Nunc congue nisi vitae suscipit tellus</span>
                    </div>
                </a></li>
                <li><a href="#">
                    <div class="post-thumbnail lazyload">
                        <div class="market"></div>
                    </div>
                    <div class="post-title>">
                        <span>Volutpat sed cras ornare arcu</span>
                    </div>
                </a></li>
            </ul>
        </section>
    </div>
    <nav class="footer-wrap theme-menu footer-nav">
        <div class="menu-responsive-container">
            <ul id="menu-responsive" class="menu">
                <li id="menu-item-450" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-450">
                    <a href="#" aria-current="page">Home</a>
                </li>
                <li id="menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469">
                    <a href="#" >About</a>
                </li>
                <li id="menu-item-470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-470">
                    <a href="#" >Contact</a>
                </li>
                <li id="menu-item-471" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-471">
                    <a href="#" >Style Guide</a>
                </li>
                <li id="menu-item-492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-492">
                    <a href="#" >Shop</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="footer-wrap copyright">
        <div class="copyright-text">
            @ 2023 Norway. Made with love by
            <a href="#">MajorThemes</a>
        </div>
    </div>
</footer>