<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Norway</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/styles/header.css">
    <link rel="stylesheet" type="text/css" href="/styles/container.css">
    <link rel="stylesheet" type="text/css" href="/styles/sidebar.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="home blog wp-embed-responsive theme-norway8 woocommerce-js theme-body sidebar_position-right style_set- blog_layout-masonry header_layout-two top_featured_layout-three colored_categories">
    <div class="wrap">
        <!-- Header -->
        <header class="header header-main">
            <div class="header-wrap header-essentials">
                <div class="social-wrap">
                    <a href="#" title="Twitter" class="twitter" style="color: #1da1f2">
                        <i class="fab fa-twitter-square"></i>
                        <span class="social-name">twitter</span>
                    </a>
                    <a href="#" title="Instagram" class="instagram" style="color: #e1306c">
                        <i class="fab fa-instagram"></i>
                        <span class="social-name">instagram</span>
                    </a>
                    <a href="#" title="Youtube" class="youtube" style="color: #ff0000">
                        <i class="fab fa-youtube"></i>
                        <span class="social-name">youtube</span>
                    </a>
                    <a href="#" title="Spotify" class="spotify" style="color: #1ed760">
                        <i class="fab fa-spotify"></i>
                        <span class="social-name">spotify</span>
                    </a>
                    <a href="#" title="Twitch" class="Twitch" style="color: #4b367c">
                        <i class="fab fa-twitch"></i>
                        <span class="social-name">twitch</span>
                    </a>
                    <a href="#" title="Card" class="woocommerce-cart-icon">
                        <span class="woocommerce-Price-amount amount">
                            <bdi>
                                <span class="woocommerce-Price-currencySymbol">$</span>
                                0.00
                            </bdi>
                        </span>
                        <i class="fas fa-inbox"></i>
                    </a>
                </div>
                <nav class="theme-menu secondary-nav">
                    <div class="menu-second-container">
                        <ul id="menu-second" class="menu">
                            <li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-479">
                                <a href="#" aria-current="page">Home</a>
                            </li>
                            <li id="menu-item-480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-480">
                                <a href="#">Theme Pages</a>
                                <ul class="sub-menu visible">
                                    <li id="menu-item-472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-472">
                                        <a href="#">About</a>
                                    </li>
                                    <li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-473">
                                        <a href="#">Contact</a>
                                    </li>
                                    <li id="menu-item-474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-474">
                                        <a href="#">Style Guide</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                                <a href="#">Shop</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="logo-wrap">
                    <div class="logo logo-text">
                        <a href="#">
                            <span>Norway</span>
                        </a>
                    </div>
                </div>
                <div class="lead">Travel & Lifestyle WordPress Theme</div>
                <button class="responsive-menu-trigger"></button>
                <nav class="theme-menu main-nav">
                    <div class="menu-main-container">
                        <ul id="menu-main-1" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-475 last-half" style="display: none;">
                                <a href="#">Theme Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-476">
                                        <a href="#">About</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-477">
                                        <a href="#">Contact</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-478">
                                        <a href="#">Style Guide</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-493">
                                        <a href="#">Shop</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children header-layouts">
                                <a href="#">Header</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">one</a>
                                    </li>
                                    <li>
                                        <a href="#">two</a>
                                    </li>
                                    <li>
                                        <a href="#">three</a>
                                    </li>
                                    <li>
                                        <a href="#">four</a>
                                    </li>
                                    <li>
                                        <a href="#">five</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children top-featured-layouts">
                                <a href="#">Featured</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">one</a>
                                    </li>
                                    <li>
                                        <a href="#">two</a>
                                    </li>
                                    <li>
                                        <a href="#">three</a>
                                    </li>
                                    <li>
                                        <a href="#">four</a>
                                    </li>
                                    <li>
                                        <a href="#">five</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children blog-layouts">
                                <a href="#">Blog Feed</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">grid</a>
                                    </li>
                                    <li>
                                        <a href="#">list</a>
                                    </li>
                                    <li>
                                        <a href="#">masonry</a>
                                    </li>
                                    <li>
                                        <a href="#">standard</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="search-trigger-wrap">
                    <button id="searchBlog" class="search-trigger">
                        <i class="fa-solid fa-magnifying-glass" style="color: #86898d;"></i>
                    </button>
                </div>
            </div>
            <div class="header-wrap footer-wrap featured-categories">
                <h3 class="featured-categories-title">
                    <span>Featured Categories</span>
                </h3>
                <div class="categories">
                    <a href="#">
                        <div class="cat-image" style="background-image: url(../../pictures/category1.webp);">
                        </div>
                        <div class="cat-name" style="background-color: #88b04b;">Lifestyle</div>
                    </a>
                    <a href="#">
                        <div class="cat-image" style="background-image: url(../../pictures/category2.webp);">
                        </div>
                        <div class="cat-name" style="background-color: #ab5e99;">Architecture</div>
                    </a>
                    <a href="#">
                        <div class="cat-image" style="background-image: url(../../pictures/category3.webp);">
                        </div>
                        <div class="cat-name" style="background-color: #45b5aa;">Travel</div>
                    </a>
                </div>
            </div>
        </header>
        <!--search-wrap-->
        <div id="searchInput" class="search-wrap">
            <div>
                <form role="search" class="searchform-wrap" method="GET" action="/blog/search">
                    <div class="searchform">
                        <input type="search" placeholder="Search..." value name="title" title="Search blog">
                    </div>
                </form>
            </div>
        </div>
        <!-- Nội dung trang -->
        <div class="container container-padding">
            <!--Container -->
            <%- include ("../Container.ejs")%>
            <!--Sidebar-->
            <%- include ("../Sidebar.ejs") %>
        </div>
        <!--Pagination-->
        <%- include ('../Pagination.ejs') %>
        <!-- Footer -->
        <%- include ('../Footer.ejs') %>
    </div>
    <script>
        const searchBtnBlog = document.getElementById('searchBlog');
        const searchInput = document.getElementById('searchInput');

        searchBtnBlog.addEventListener('click', () => {
            searchInput.style.opacity = "1";
            searchInput.style.visibility = 'visible';
            searchInput.style.pointerEvents = 'auto';
        })
    </script>
</body>
</html>

