<main class="layout-page-content css-6yazz">
    <div class="MuiBox-root css-178g8h0">
        <div class="MuiDrawer-root MuiDrawer-docked css-1e18chc">
            <div class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation0 MuiDrawer-paper MuiDrawer-paperAnchorLeft MuiDrawer-paperAnchorDockedLeft css-1ai41gd">
                <div class="MuiBox-root css-1g9cy35">
                    <button class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-fullWidth MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-fullWidth css-1f1tgke" tabindex="0" type="button">
                        Compose
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </button>
                </div>
                <div class="scrollbar-container ps">
                    <div class="MuiBox-root css-nah09k">
                        <div class="MuiList-root MuiList-padding css-rfh0jy">
                            <a class="MuiListItem-root MuiListItem-gutters MuiListItem-padding css-ayqrd" href="#">
                                <div class="MuiListItemIcon-root css-1aa4flz">
                                    <i class="fa-regular fa-message"></i>
                                </div>
                                <div class="MuiListItemText-root css-ygfhfr">
                                    <span class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap MuiListItemText-primary css-d8dfyf">Inbox</span>
                                </div>
                                <span skin="light" class="MuiBadge-root css-l55fyy">
                                    <span class="MuiBadge-badge MuiBadge-standard MuiBadge-anchorOriginTopRight MuiBadge-anchorOriginTopRightRectangular MuiBadge-overlapRectangular MuiBadge-colorPrimary css-1y13003">3</span>
                                </span>
                            </a>
                            <a class="MuiListItem-root MuiListItem-gutters MuiListItem-padding css-lldr8c" href="#">
                                <div class="MuiListItemIcon-root css-7wpcdz">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </div>
                                <div class="MuiListItemText-root css-ygfhfr">
                                    <span class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap MuiListItemText-primary css-d8dfyf css-ht2px3">Sent</span>
                                </div>
                            </a>
                            <a class="MuiListItem-root MuiListItem-gutters MuiListItem-padding css-lldr8c" href="#">
                                <div class="MuiListItemIcon-root css-7wpcdz">
                                    <i class="fa-regular fa-file"></i>
                                </div>
                                <div class="MuiListItemText-root css-ygfhfr">
                                    <span class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap MuiListItemText-primary css-d8dfyf css-ht2px3">Draft</span>
                                </div>
                                <span skin="light" class="MuiBadge-root css-1cxd27s">
                                    <span class="MuiBadge-badge MuiBadge-standard MuiBadge-anchorOriginTopRight MuiBadge-anchorOriginTopRightRectangular MuiBadge-overlapRectangular MuiBadge-colorWarning css-1uzha3u">4</span>
                                </span>
                            </a>
                            <a class="MuiListItem-root MuiListItem-gutters MuiListItem-padding css-lldr8c" href="#">
                                <div class="MuiListItemIcon-root css-7wpcdz">
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <div class="MuiListItemText-root css-ygfhfr">
                                    <span class="css-ht2px3 MuiTypography-root MuiTypography-body1 MuiTypography-noWrap MuiListItemText-primary css-d8dfyf">Starred</span>
                                </div>
                            </a>
                            <a class="MuiListItem-root MuiListItem-gutters MuiListItem-padding css-lldr8c" href="#">
                                <div class="MuiListItemIcon-root css-7wpcdz">
                                    <i class="fa-solid fa-stamp"></i>
                                </div>
                                <div class="MuiListItemText-root css-ygfhfr">
                                    <span class="css-ht2px3 MuiTypography-root MuiTypography-body1 MuiTypography-noWrap MuiListItemText-primary css-d8dfyf">Spam</span>
                                </div>
                                <span skin="light" class="MuiBadge-root css-1cld36u">
                                    <span class="MuiBadge-badge MuiBadge-standard MuiBadge-anchorOriginTopRight MuiBadge-anchorOriginTopRightRectangular MuiBadge-overlapRectangular MuiBadge-colorError css-rr1s15">2</span>
                                </span>
                            </a>
                            <a class="MuiListItem-root MuiListItem-gutters MuiListItem-padding css-lldr8c" href="#">
                                <div class="MuiListItemIcon-root css-7wpcdz">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <div class="MuiListItemText-root css-ygfhfr">
                                    <span class="css-ht2px3 MuiTypography-root MuiTypography-body1 MuiTypography-noWrap MuiListItemText-primary css-d8dfyf">Trash</span>
                                </div>
                            </a>
                        </div>
                        <p class="MuiTypography-root MuiTypography-body2 css-hju3ih">Labels</p>

                        <div class="MuiList-root MuiList-padding css-1ontqvh">
                            <a class="css-1nr3480">
                                <div class="css-6df7ix">
                                    <i class="fa-solid fa-circle" style="color: #1de12e; font-size: 10px;"></i>
                                </div>
                                <div class="css-ygfhfr">
                                    <span class="css-ht2px3">Personal</span>
                                </div>
                            </a>
                            <a class="css-1nr3480">
                                <div class="css-6df7ix">
                                    <i class="fa-solid fa-circle" style="color: #ad17db; font-size:10px;""></i>
                                </div>
                                <div class="css-ygfhfr">
                                    <span class="css-ht2px3">Company</span>
                                </div>
                            </a>
                            <a class="css-1nr3480">
                                <div class="css-6df7ix">
                                    <i class="fa-solid fa-circle" style=" color:#e37421; font-size:10px"></i>
                                </div>
                                <div class="css-ygfhfr">
                                    <span class="css-ht2px3">Important</span>
                                </div>
                            </a>
                            <a class="css-1nr3480">
                                <div class="css-6df7ix">
                                    <i class="fa-solid fa-circle" style="color:#f90020; font-size:10px;"></i>
                                </div>
                                <div class="css-ygfhfr">
                                    <span class="css-ht2px3">Private</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="MuiBox-root css-1owt0pf">
            <div class="MuiBox-root css-18mck33">
                <div class="MuiBox-root css-a5qsvr">
                    <div class="MuiBox-root css-7pf6at">
                        <div class="MuiBox-root css-7pf6at">
                            <div class="MuiInputBase-root MuiInput-root MuiInput-underline MuiInputBase-colorPrimary MuiInputBase-adornedStart css-q97apt">
                                <div class="MuiInputAdornment-root MuiInputAdornment-positionStart css-1kw1fyj">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <input class="MuiInputBase-input MuiInput-input MuiInputBase-inputAdornedStart css-fvrium" placeholder="Search email" type="text" value>
                            </div>
                        </div>
                    </div>
                    <hr class="MuiDivider-root MuiDivider-fullWidth css-uv5viy">
                    <div class="MuiBox-root css-4ogw32">
                        <div class="MuiBox-root css-1lekzkb">
                            <div class="MuiBox-root css-70qvj9">
                                <span class="MuiButtonBase-root MuiCheckbox-root MuiCheckbox-colorPrimary PrivateSwitchBase-root MuiCheckbox-root MuiCheckbox-colorPrimary MuiCheckbox-root MuiCheckbox-colorPrimary css-1qggoe9">
                                    <input class="PrivateSwitchBase-input css-1m9pwf3" type="checkbox">
                                    <i class="fa-regular fa-square"></i>
                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                </span>
                            </div>
                            <div class="MuiBox-root css-70qvj9">
                                <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeSmall css-3cjhag" tabindex="0" type="button">
                                    <i class="fa-solid fa-rotate-right"></i>
                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                </button>
                                <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeSmall css-3cjhag" tabindex="0" type="button">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr class="MuiDivider-root MuiDivider-fullWidth css-uv5viy">
                </div>
            </div>
            <div class="MuiBox-root css-ly5toe"></div>
        </div>
    </div>
    <div class="buy-now-button mui-fixed MuiBox-root css-1j2q1g7">
        <a class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium css-4ia13o" tabindex="0" target="_blank" href="https://themeforest.net/item/vuexy-vuejs-html-laravel-admin-dashboard-template/23328599?irgwc=1&clickid=1BzQijyh9xyPUB1ziD1lI22RUkFQ12Vxd00txM0&iradid=275988&irpid=1244113&iradtype=ONLINE_TRACKING_LINK&irmptype=mediapartner&mp_value1=&utm_campaign=af_impact_radius_1244113&utm_medium=affiliate&utm_source=impact_radius">
            Buy Now
            <span class="MuiTouchRipple-root css-w0pj6f"></span>
        </a>
    </div>
</main>