<HTML>
    <head>
      <title> Homepage </title>
    </head>
    <body>
      <h1>Hello <%= user %></h1>
      <a href="/admin">
        <span>Admin</span>
      </a>
      <a href="/blog">
        <span>Blogs</span>
      </a>
    </body>
  </html>