<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Norway</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/styles/blogdetail.css">
    <link rel="stylesheet" type="text/css" href="/styles/header.css">
    <link rel="stylesheet" type="text/css" href="/styles/container.css">
</head>
<body class="home blog wp-embed-responsive theme-norway8 woocommerce-js theme-body sidebar_position-right style_set- blog_layout-masonry header_layout-two top_featured_layout-three colored_categories">
    <div class="wrap">
        <!-- Header -->
        <header class="header header-main">
            <div class="header-wrap header-essentials">
                <div class="social-wrap">
                    <a href="#" title="Twitter" class="twitter" style="color: #1da1f2">
                        <i class="fab fa-twitter-square"></i>
                        <span class="social-name">twitter</span>
                    </a>
                    <a href="#" title="Instagram" class="instagram" style="color: #e1306c">
                        <i class="fab fa-instagram"></i>
                        <span class="social-name">instagram</span>
                    </a>
                    <a href="#" title="Youtube" class="youtube" style="color: #ff0000">
                        <i class="fab fa-youtube"></i>
                        <span class="social-name">youtube</span>
                    </a>
                    <a href="#" title="Spotify" class="spotify" style="color: #1ed760">
                        <i class="fab fa-spotify"></i>
                        <span class="social-name">spotify</span>
                    </a>
                    <a href="#" title="Twitch" class="Twitch" style="color: #4b367c">
                        <i class="fab fa-twitch"></i>
                        <span class="social-name">twitch</span>
                    </a>
                    <a href="#" title="Card" class="woocommerce-cart-icon">
                        <span class="woocommerce-Price-amount amount">
                            <bdi>
                                <span class="woocommerce-Price-currencySymbol">$</span>
                                0.00
                            </bdi>
                        </span>
                        <i class="fas fa-inbox"></i>
                    </a>
                </div>
                <nav class="theme-menu secondary-nav">
                    <div class="menu-second-container">
                        <ul id="menu-second" class="menu">
                            <li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-479">
                                <a href="#" aria-current="page">Home</a>
                            </li>
                            <li id="menu-item-480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-480">
                                <a href="#">Theme Pages</a>
                                <ul class="sub-menu visible">
                                    <li id="menu-item-472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-472">
                                        <a href="#">About</a>
                                    </li>
                                    <li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-473">
                                        <a href="#">Contact</a>
                                    </li>
                                    <li id="menu-item-474" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-474">
                                        <a href="#">Style Guide</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486">
                                <a href="#">Shop</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="logo-wrap">
                    <div class="logo logo-text">
                        <a href="#">
                            <span>Norway</span>
                        </a>
                    </div>
                </div>
                <div class="lead">Travel & Lifestyle WordPress Theme</div>
                <button class="responsive-menu-trigger"></button>
                <nav class="theme-menu main-nav">
                    <div class="menu-main-container">
                        <ul id="menu-main-1" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-475 last-half" style="display: none;">
                                <a href="#">Theme Pages</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-476">
                                        <a href="#">About</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-477">
                                        <a href="#">Contact</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-478">
                                        <a href="#">Style Guide</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-493">
                                        <a href="#">Shop</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children header-layouts">
                                <a href="#">Header</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">one</a>
                                    </li>
                                    <li>
                                        <a href="#">two</a>
                                    </li>
                                    <li>
                                        <a href="#">three</a>
                                    </li>
                                    <li>
                                        <a href="#">four</a>
                                    </li>
                                    <li>
                                        <a href="#">five</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children top-featured-layouts">
                                <a href="#">Featured</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">one</a>
                                    </li>
                                    <li>
                                        <a href="#">two</a>
                                    </li>
                                    <li>
                                        <a href="#">three</a>
                                    </li>
                                    <li>
                                        <a href="#">four</a>
                                    </li>
                                    <li>
                                        <a href="#">five</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children blog-layouts">
                                <a href="#">Blog Feed</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">grid</a>
                                    </li>
                                    <li>
                                        <a href="#">list</a>
                                    </li>
                                    <li>
                                        <a href="#">masonry</a>
                                    </li>
                                    <li>
                                        <a href="#">standard</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="search-trigger-wrap">
                    <button class="search-trigger">
                        <i class="fa-solid fa-magnifying-glass" style="color: #86898d;"></i>
                    </button>
                </div>
            </div>
        </header>
        <!--search-wrap-->
        <div class="search-wrap">
            <div>
                <form role="search" class="searchform-wrap">
                    <div class="searchform">
                        <input type="search" placeholder="Search..." value name="s" title="Search anything">
                    </div>
                </form>
            </div>
        </div>
        <!-- Nội dung trang -->
        <div class="content content-singular">
            <div class="main-post">
                <div class="post-header">
                    <div class="post-category">
                        <a href="#" style="background-color: #ad5e99;">Architecture</a>
                    </div>
                    <h1 class="post-title entry-title"><span>Tempus egestas vivamus arcu felis</span></h1>
                    <div class="post-meta">
                        <%=blogs.meta%>
                    </div>
                </div>
                <div class="singular-featured">
                    <img src="../../pictures/anh1.jpg" alt="image post" width="2560" height="1707" sizes="(max-width: 2560px) 100vw, 2560px">
                </div>
                <article id="post-396" class="post-396 post type-post status-publish format-standard has-post-thumbnail hentry category-architecture">
                    <div class="post-content">
                        <p>Arcu dui vivamus arcu felis bibendum ut tristique et. Sit amet justo donec enim. Velit ut tortor pretium viverra suspendisse potenti nullam ac. Morbi tincidunt ornare massa eget egestas purus. Arcu dui vivamus arcu felis bibendum ut. Ut placerat orci nulla pellentesque dignissim.</p>
                        <span id="more-396"></span>
                        <p>Lectus arcu bibendum at varius. Sed odio morbi quis commodo odio aenean sed adipiscing diam. Aliquet porttitor lacus luctus accumsan tortor. Commodo elit at imperdiet dui accumsan sit amet nulla. Non nisi est sit amet facilisis magna etiam tempor orci. Nulla malesuada pellentesque elit eget. Feugiat in ante metus dictum at tempor commodo. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum.</p>
                        <figure class="wp-block-image alignfull">
                            <img class="lazyload" decoding="async" src="../../pictures/post1.jpg" alt="image post 1">
                            <figcaption>Feels like on the edge of the Earth</figcaption>
                        </figure>
                        <p>Amet cursus sit amet dictum sit amet justo. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Porttitor leo a diam sollicitudin tempor. Egestas erat imperdiet sed euismod nisi porta. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Ipsum suspendisse ultrices gravida dictum fusce ut. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Consectetur libero id faucibus nisl tincidunt eget nullam non nisi.</p>
                        <blockquote class="wp-block-pullquote alignnone">
                            <p>Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae.</p>
                            <cite>Lorem Ispum</cite>
                        </blockquote>
                        <p>Aliquet bibendum enim facilisis gravida neque convallis a. Sed tempus urna et pharetra pharetra. Lectus magna fringilla urna porttitor rhoncus dolor purus non. Accumsan sit amet nulla facilisi morbi tempus. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Tincidunt id aliquet risus feugiat in ante metus dictum at. Erat velit scelerisque in dictum non consectetur a erat. Fusce ut placerat orci nulla.</p>
                        <figure class="wp-block-image alignfull">
                            <img src="../../pictures/anh4.jpg" class="lazyload" decoding="async" alt="image post 2">
                            <figcaption>Feels like on the edge of the Earth</figcaption>
                        </figure>
                        <p>Facilisi etiam dignissim diam quis enim lobortis scelerisque. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Vitae semper quis lectus nulla at. Mattis vulputate enim nulla aliquet. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Semper viverra nam libero justo laoreet.</p>
                        <blockquote class="wp-block-quote">
                            <p>Laoreet sit amet cursus sit amet dictum sit amet justo. Cursus in hac habitasse platea dictumst quisque. Lacus laoreet non curabitur gravida. Duis ut diam quam nulla porttitor.</p>
                            <cite>- Lorem Ipsum</cite>
                        </blockquote>
                        <p>Feugiat vivamus at augue eget. Sed vulputate mi sit amet. Id diam vel quam elementum pulvinar etiam non. Lectus mauris ultrices eros in cursus turpis massa. Faucibus turpis in eu mi. Dolor magna eget est lorem ipsum dolor. Nunc congue nisi vitae suscipit tellus. Scelerisque eu ultrices vitae auctor.</p>
                        <p>Purus faucibus ornare suspendisse sed nisi lacus sed viverra. At consectetur lorem donec massa sapien faucibus. Dictum at tempor commodo ullamcorper a lacus vestibulum. Gravida quis blandit turpis cursus in. Blandit libero volutpat sed cras ornare. Neque viverra justo nec ultrices dui sapien eget. Amet cursus sit amet dictum sit amet justo donec.</p>
                        <p>Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Morbi blandit cursus risus at ultrices mi tempus imperdiet nulla. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Lectus sit amet est placerat in. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Vitae justo eget magna fermentum iaculis eu.</p>
            
                    </div>
                    <div class="post-footer">
                        <div class="post-share">
                            <div class="share-buttons">
                                <div>
                                    <a>
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </div>
                                <div>
                                    <a>
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                                <div>
                                    <a>
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </div>
                                <div class="callout">
                                    <span>Share this</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-wrap footer-wrap author-bio">
                        <div class="people">
                            <div class="person">
                                <div>
                                    <a href="https://demo.major-themes.com/norway8/author/melisa">
                                        <div class="picture" style="background-image: url(pictures/avt1.jpeg)"></div>
                                    </a>
                                </div>
                                <div class="text">
                                    <h3 class="name">
                                        <a href="https://demo.major-themes.com/norway8/author/melisa">Melisa Sawyer</a>
                                    </h3>
                                    <p>Odio facilisis mauris sit amet massa. Ac tincidunt vitae semper quis lectus nulla at. Eros donec ac odio tempor.</p>
                                    <div class="social-wrap">
                                        <a href="#" title="Twitter" class="twitter" style="color: #1da1f2">
                                            <i class="fab fa-twitter-square"></i>
                                            <span class="social-name">twitter</span>
                                        </a>
                                        <a href="#" title="Instagram" class="instagram" style="color: #e1306c">
                                            <i class="fab fa-instagram"></i>
                                            <span class="social-name">instagram</span>
                                        </a>
                                        <a href="#" title="Youtube" class="youtube" style="color: #ff0000">
                                            <i class="fab fa-youtube"></i>
                                            <span class="social-name">youtube</span>
                                        </a>
                                        <a href="#" title="Spotify" class="spotify" style="color: #1ed760">
                                            <i class="fab fa-spotify"></i>
                                            <span class="social-name">spotify</span>
                                        </a>
                                        <a href="#" title="Twitch" class="Twitch" style="color: #4b367c">
                                            <i class="fab fa-twitch"></i>
                                            <span class="social-name">twitch</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments-wrap">
                        <button class="button show-comments">
                            Show comments
                        </button>
                    </div>
                </article>
            </div>
        </div>
        <!-- Footer -->
        <%- include('../Footer.ejs') %>
    </div>
</body>
</html>

