<header class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation0 MuiAppBar-root MuiAppBar-colorDefault MuiAppBar-positionSticky layout-navbar css-j594bf">
    <div class="MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular navbar-content-container css-jmyt6v">
        <div class="MuiBox-root css-12d2mry">
            <div class="actions-left MuiBox-root css-10kuq41">
                <div class="MuiBox-root css-t5z4a2">
                    <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit MuiIconButton-sizeMedium css-oabc99" tabindex="0" type="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span class="MuiTouchRipple-root css-w0pj6f">
                        </span>
                    </button>
                    <p class="MuiTypography-root MuiTypography-body1 css-si5y6g">
                        Search (Ctrl+/)
                    </p>
                </div>
            </div>
            <div class="actions-right MuiBox-root css-70qvj9">
                <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit MuiIconButton-sizeMedium css-q6qbme" tabindex="0" type="button" aria-haspopup="true">
                    <i class="fa-solid fa-language"></i>
                    <span class="MuiTouchRipple-root css-w0pj6f">
                    </span>
                </button>
                <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit MuiIconButton-sizeMedium css-q6qbme" tabindex="0" type="button" aria-haspopup="true">
                    <i class="fa-regular fa-moon"></i>
                    <span class="MuiTouchRipple-root css-w0pj6f">
                    </span>
                </button>
                <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit MuiIconButton-sizeMedium css-q6qbme" tabindex="0" type="button" aria-haspopup="true">
                    <i class="fa-solid fa-square-plus"></i>
                    <span class="MuiTouchRipple-root css-w0pj6f">
                    </span>
                </button>
                <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit MuiIconButton-sizeMedium css-q6qbme" tabindex="0" type="button" aria-haspopup="true">
                    <span class="MuiBadge-root css-9ysua">
                        <i class="fa-solid fa-bell"></i>
                        <span class="MuiBadge-badge MuiBadge-dot MuiBadge-anchorOriginTopRight MuiBadge-anchorOriginTopRightRectangular MuiBadge-overlapRectangular MuiBadge-colorError css-1i3ezel">
                        </span>
                    </span>
                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                </button>
                <span class="MuiBadge-root css-1w651zy">
                    <div class="MuiAvatar-root MuiAvatar-circular css-1ngi0s8">
                        <img src="../../pictures/avtadmin.png" alt="tien manh" class="MuiAvatar-img css-1hy9t21">
                    </div>
                    <span class="MuiBadge-badge MuiBadge-standard MuiBadge-anchorOriginBottomRight MuiBadge-anchorOriginBottomRightCircular MuiBadge-overlapCircular css-qdlx83">
                        <span class="css-9xvgnp"></span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</header>