<div class="css-1e72eac MuiDrawer-paper css-fijinl">
    <div class="css-1sla8pf">
        <a class="css-5k1n1y" href="#">
            <img src="../../pictures/logo.avif" width="50px" height="50px"></img>
            <h4 class="css-fqt5t">techShop</h4>
        </a>
        <button class="css-rmb29y" tabindex="0" type="button">

        </button>
    </div>
    <div class="css-ehlae3"></div>
    <div class="css-ohwg9z">
        <div class="scrollbar-container ps">
            <ul class="css-1ta9ch5">
                <li class="css-1jqjoe5">
                    <div id="click-dashboard" class="Mui-selected css-uo704d" tabindex="0" role="button">
                        <div class="MuiListItemIcon-root css-hopczm">
                            <i class="fa-solid fa-chart-line" style="color: #686e78;"></i>
                        </div>
                        <div class="css-164kvcj">
                            <p class="css-l4p1eq">Dashboards</p>
                            <div class="css-14fbchr">
                                <i class="fa-solid fa-caret-down" style="color: #8b93a2;"></i>
                            </div>
                        </div>
                    </div>
                    <!--
                        <ul class="MuiCollapse-root MuiCollapse-vertical MuiCollapse-hidden css-hnqdyp" style="min-height: 0px; height: 0px; transition-duration: 300ms;">
                            <div class="MuiCollapse-wrapper MuiCollapse-vertical css-hboir5">
                                <div class="MuiCollapse-wrapperInner MuiCollapse-vertical css-8atqhb">
                                    <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                                        <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters active css-1r5trry" tabindex="0" href="#">
                                            <div class="MuiListItemIcon-root css-1bzbwn9"></div>
                                            <div class="MuiBox-root css-164kvcj">
                                                <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">Analytics</p>
                                            </div>
                                            <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                        </a>
                                    </li>
                                    <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                                        <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters active css-1r5trry" tabindex="0" href="#">
                                            <div class="MuiListItemIcon-root css-1bzbwn9"></div>
                                            <div class="MuiBox-root css-164kvcj">
                                                <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">CRM</p>
                                            </div>
                                            <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                        </a>
                                    </li>
                                    <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                                        <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters active css-1r5trry" tabindex="0" href="#">
                                            <div class="MuiListItemIcon-root css-1bzbwn9"></div>
                                            <div class="MuiBox-root css-164kvcj">
                                                <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">eCommerce</p>
                                            </div>
                                            <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </ul>
                    -->
                </li>
                <!--Apps & Pages-->
                <li class="MuiListSubheader-root MuiListSubheader-gutters MuiListSubheader-sticky nav-section-title css-1ntbreh">
                    <span class="MuiTypography-root MuiTypography-caption MuiTypography-noWrap css-8kdveo">
                        Apps & Pages
                    </span>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                User
                            </p>
                            <div class="css-14fbchr">
                                <i class="fa-solid fa-caret-down" style="color: #8b93a2;"></i>
                            </div>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" onclick="" href="/admin/email">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Email
                            </p>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-regular fa-comments"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Chat
                            </p>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-regular fa-calendar"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Calendar
                            </p>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-solid fa-file-invoice-dollar"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Invoice
                            </p>
                            <div class="css-14fbchr">
                                <i class="fa-solid fa-caret-down" style="color: #8b93a2;"></i>
                            </div>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Roles & Permissions
                            </p>
                            <div class="css-14fbchr">
                                <i class="fa-solid fa-caret-down" style="color: #8b93a2;"></i>
                            </div>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-regular fa-file"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Pages
                            </p>
                            <div class="css-14fbchr">
                                <i class="fa-solid fa-caret-down" style="color: #8b93a2;"></i>
                            </div>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Auth Pages
                            </p>
                            <div class="css-14fbchr">
                                <i class="fa-solid fa-caret-down" style="color: #8b93a2;"></i>
                            </div>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-solid fa-chalkboard-user"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Wizard Examples
                            </p>
                            <div class="css-14fbchr">
                                <i class="fa-solid fa-caret-down" style="color: #8b93a2;"></i>
                            </div>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-regular fa-square"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Dialog Examples
                            </p>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <!--USER INTERFACE-->
                <li class="MuiListSubheader-root MuiListSubheader-gutters MuiListSubheader-sticky nav-section-title css-1ntbreh">
                    <span class="MuiTypography-root MuiTypography-caption MuiTypography-noWrap css-8kdveo">
                        User interface
                    </span>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-solid fa-font"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Typography
                            </p>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-solid fa-icons"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Icons
                            </p>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-regular fa-credit-card"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Carts
                            </p>
                            <div class="css-14fbchr">
                                <i class="fa-solid fa-caret-down" style="color: #8b93a2;"></i>
                            </div>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
                <li class="MuiListItem-root MuiListItem-gutters nav-link css-knxfih">
                    <a class="MuiButtonBase-root MuiListItemButton-root MuiListItemButton-gutters MuiListItemButton-root MuiListItemButton-gutters  css-1r5trry" tabindex="0" href="#">
                        <div class="MuiListItemIcon-root css-obwnu3">
                            <i class="fa-solid fa-box-archive"></i>
                        </div>
                        <div class="MuiBox-root css-164kvcj">
                            <p class="MuiTypography-root MuiTypography-body1 MuiTypography-noWrap css-l4p1eq">
                                Components
                            </p>
                            <div class="css-14fbchr">
                                <i class="fa-solid fa-caret-down" style="color: #8b93a2;"></i>
                            </div>
                        </div>
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>