<form id="style-form" action="/admin" method="POST" enctype="multipart/form-data">
    <div class="mb-1">
      <label for="category" class="form-label">Category</label>
      <input type="text" name="category" class="form-control" id="category">
    </div>
    <div class="mb-1">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" id="title">
    </div> 
    <div class="mb-1">
        <label for="details" class="form-label">Details</label>
        <input type="text" name="details" class="form-control" id="details">
      </div>
      <div class="mb-1">
        <label for="image" class="form-label">Image</label>
        <input type="file" name="image" class="form-control" id="image">
      </div>
    <button class="btn btn-primary">Create blog</button>
  </form>