body {
    margin: 0;
    color: rgba(47, 43, 61, 0.78);
    line-height: 1.467;
    font-size: 0.9375rem;
    font-family: Public Sans,sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    background-color: #F8F7FA;
}

body, html {
    min-height: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --fc-daygrid-event-dot-width: 8px;
}
:root {
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: #f5f5f5;
}
:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: hsla(0,0%,82%,.3);
    --fc-neutral-text-color: grey;
    --fc-border-color: #ddd;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #2c3e50;
    --fc-button-border-color: #2c3e50;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0,0,0,.25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0,0%,84%,.3);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188,232,241,.3);
    --fc-today-bg-color: rgba(255,220,40,.15);
    --fc-now-indicator-color: red;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

input[type="text" i] {
    writing-mode: horizontal-tb !important;
}
user agent stylesheet
input:focus-visible {
    outline-offset: 0px;
}
user agent stylesheet
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

#style-form {
    display: none;
  }

.css-fvrium:focus-visible {
    outline: none;
}

#__next {
    height: 100%;
}

.css-uinsfl {
    height: 100%;
    display: flex;
}

.css-1e72eac {
    flex: 0 0 auto;
    overflow-x: hidden;
    transition: width 0.25s ease-in-out 0s;
    width: 260px;
}

.css-34b9xr {
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.css-1e72eac .MuiDrawer-paper {
    left: unset;
    right: unset;
    overflow-x: hidden;
    transition: width 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
}

.css-fijinl {
    color: rgba(47, 43, 61, 0.78);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
    outline: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(47, 43, 61, 0.14) 0px 2px 6px 0px;
    width: 260px;
    border-right: 0px solid;
}

.css-1sla8pf {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-right: 0.875rem;
    transition: padding 0.25s ease-in-out 0s;
    min-height: 64px;
    padding-left: 1.5rem;
}

.css-5k1n1y {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}

.css-fqt5t {
    margin: 0px 0px 0px 0.625rem;
    font-size: 1.375rem;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgba(47, 43, 61, 0.78);
    font-weight: 700;
    line-height: 24px;
    transition: opacity 0.25s ease-in-out 0s, margin 0.25s ease-in-out 0s;
    opacity: 1;
}

.css-rmb29y {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.40625rem;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 0rem;
    color: rgba(47, 43, 61, 0.78);
    background-color: transparent !important;
}

.css-ehlae3 {
    top: 60px;
    left: -8px;
    z-index: 2;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: calc(100% + 15px);
    height: 64px;
    transition: opacity 0.15s ease-in-out 0s;
    background: linear-gradient(rgb(255, 255, 255) 5%, rgba(255, 255, 255, 0.85) 30%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.3) 75%, transparent);
}

.css-ohwg9z {
    position: relative;
    overflow: hidden;
}

.scrollbar-container {
    position: relative;
    height: 100%;
}

.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.css-1e72eac ul {
    list-style: none;
}

.css-1ta9ch5 {
    list-style: none;
    margin: 0px;
    padding: 0rem 0px 8px;
    position: relative;
}

.css-1ta9ch5 > :first-child {
    margin-top: 0px;
}

.css-1e72eac .MuiListItem-gutters {
    padding-left: 4px;
    padding-right: 4px;
}

.css-1jqjoe5 {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-top: 0.25rem;
    flex-direction: column;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.css-uo704d.Mui-selected, .css-uo704d.Mui-selected:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(209 206 245);
}
.css-uo704d.Mui-selected {
    background-color: rgba(115, 103, 240, 0.06);
}

.css-1r5trry:hover {
    background-color: rgb(209 206 245);
}

.css-oabc99:hover {
    background-color: rgba(47, 43, 61, 0.08);
}

.css-uo704d {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0.875rem;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    width: calc(100% - 1.75rem);
    transition: padding-left 0.25s ease-in-out 0s, padding-right 0.25s ease-in-out 0s;
}

.css-uo704d.Mui-selected .MuiListItemIcon-root, .css-uo704d.Mui-selected:hover .MuiListItemIcon-root, .css-uo704d.Mui-selected .MuiListItemText-primary, .css-uo704d.Mui-selected:hover .MuiListItemText-primary, .css-uo704d.Mui-selected .MuiListItemText-secondary, .css-uo704d.Mui-selected:hover .MuiListItemText-secondary, .css-uo704d.Mui-selected .MuiListItemSecondaryAction-root .MuiIconButton-root, .css-uo704d.Mui-selected:hover .MuiListItemSecondaryAction-root .MuiIconButton-root {
    color: rgb(255, 255, 255);
}

.css-hopczm {
    flex-shrink: 0;
    display: inline-flex;
    color: rgba(47, 43, 61, 0.78);
    transition: margin 0.25s ease-in-out 0s;
    margin-right: 0.5rem;
    min-width: 0px !important;
}

.css-164kvcj {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: opacity 0.25s ease-in-out 0s;
    overflow: hidden;
    opacity: 1;
}

.css-uo704d.Mui-selected .MuiTypography-root, .css-uo704d.Mui-selected :not(.menu-item-meta) > i {
    color: rgba(47, 43, 61, 0.78);
}

.css-uo704d:hover {
    background-color: rgba(47, 43, 61, 0.04);
}

.css-uo704d .MuiTypography-root, .css-uo704d :not(.menu-item-meta) > i {
    color: rgba(47, 43, 61, 0.68);
}

.css-l4p1eq {
    margin: 0px;
    line-height: 1.467;
    font-size: 0.9375rem;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(47, 43, 61, 0.78);
}

.css-uo704d.Mui-selected .menu-item-meta > i {
    color: rgba(47, 43, 61, 0.68);
}

.css-14fbchr i {
    color: rgba(47, 43, 61, 0.42);
    transition: transform 0.25s ease-in-out 0s;
    transform: rotate(90deg);
}

.css-1e72eac ul {
    list-style: none;
}

.css-1xtc0b9 {
    height: auto;
    overflow: visible;
    padding-left: 0rem;
    width: 100%;
    opacity: 1;
    transition: all 0.25s ease-in-out 0s;
}

.css-hboir5 {
    display: flex;
    width: 100%;
}

.css-8atqhb {
    width: 100%;
}

.css-1e72eac .MuiListItem-gutters {
    padding-left: 4px;
    padding-right: 4px;
}

.css-knxfih {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-top: 0.25rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.css-1r5trry.active, .css-1r5trry.active:hover {
    box-shadow: rgba(115, 103, 240, 0.48) 0px 2px 6px;
    background: linear-gradient(72.47deg, rgb(115, 103, 240) 22.16%, rgba(115, 103, 240, 0.7) 76.47%);
}

.css-1r5trry {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0.875rem;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    border-radius: 6px;
    transition: padding-left 0.25s ease-in-out 0s, padding-right 0.25s ease-in-out 0s;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.css-1bzbwn9 {
    flex-shrink: 0;
    display: inline-flex;
    color: rgba(47, 43, 61, 0.78);
    transition: margin 0.25s ease-in-out 0s;
    margin-right: 0.875rem;
    margin-left: 0.375rem;
    min-width: 0px !important;
}

.css-164kvcj {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: opacity 0.25s ease-in-out 0s;
    overflow: hidden;
    opacity: 1;
}

.css-1r5trry.active .MuiTypography-root, .css-1r5trry.active svg {
    color: rgb(255, 255, 255) !important;
}

.css-1r5trry .MuiTypography-root, .css-1r5trry svg {
    color: rgba(47, 43, 61, 0.68);
}


.css-l4p1eq {
    margin: 0px;
    line-height: 1.467;
    font-size: 0.9375rem;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(47, 43, 61, 0.78);
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-1ntbreh {
    box-sizing: border-box;
    list-style: none;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 0.820312rem;
    top: 0px;
    z-index: 1;
    text-transform: uppercase;
    color: rgba(47, 43, 61, 0.42);
    line-height: 1;
    display: flex;
    position: static;
    margin-top: 0.875rem;
    padding: 0.375rem 1.875rem;
    background-color: transparent;
    transition: padding-left 0.25s ease-in-out 0s;
}

.css-1ntbreh .MuiTypography-root, .css-1ntbreh svg {
    color: rgba(47, 43, 61, 0.42);
}

.css-8kdveo {
    margin: 0px;
    line-height: 1.273;
    font-size: 0.6875rem;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(47, 43, 61, 0.68);
    text-transform: uppercase;
}

.css-1r5trry {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0.875rem;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    border-radius: 6px;
    transition: padding-left 0.25s ease-in-out 0s, padding-right 0.25s ease-in-out 0s;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.css-obwnu3 {
    flex-shrink: 0;
    display: inline-flex;
    color: rgba(47, 43, 61, 0.78);
    transition: margin 0.25s ease-in-out 0s;
    margin-right: 0.5rem;
    min-width: 0px !important;
    width: 24px;
}
/* container right */
.css-34b9xr {
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.css-j594bf {
    box-shadow: none;
    background-image: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: sticky;
    z-index: 1100;
    top: 0px;
    left: auto;
    right: 0px;
    transition: none 0s ease 0s;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: transparent;
    color: rgba(47, 43, 61, 0.78);
    min-height: 64px;
}

.css-jmyt6v {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    border-radius: 6px;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: rgba(47, 43, 61, 0.14) 0px 2px 6px 0px;
    padding: 0rem 1.5rem !important;
    min-height: 64px !important;
}

.css-12d2mry {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-10kuq41 {
    margin-right: 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-70qvj9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-t5z4a2 {
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
}

.css-oabc99 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0.125rem 0px -0.6875rem;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.40625rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: inherit;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-si5y6g {
    margin: 0px;
    line-height: 1.467;
    font-size: 0.9375rem;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: rgba(47, 43, 61, 0.42);
    user-select: none;
}

.css-70qvj9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-q6qbme {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.40625rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: inherit;
}

.css-1w651zy {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    margin-left: 0.5rem;
    cursor: pointer;
}

.css-1ngi0s8 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    font-size: 0.9375rem;
    width: 38px;
    height: 38px;
}

.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-qdlx83 {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    min-width: 20px;
    line-height: 1;
    padding: 0px 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    bottom: 14%;
    right: 14%;
    transform: scale(1) translate(50%, 50%);
    transform-origin: 100% 100%;
    font-size: 0.75rem;
}

.css-9xvgnp {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(40, 199, 111);
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
}

.css-9ysua .MuiBadge-badge {
    top: 4px;
    right: 4px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
}

.css-9ysua {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
}

.css-1i3ezel {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    min-width: 8px;
    line-height: 1;
    padding: 0px;
    height: 8px;
    border-radius: 4px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(234, 84, 85);
    color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
    font-size: 0.75rem;
}

.css-j594bf::after {
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    content: "";
    position: absolute;
    backdrop-filter: blur(10px);
    height: calc(64px + 1rem);
    background: linear-gradient(rgba(248, 247, 250, 0.7) 44%, rgba(248, 247, 250, 0.43) 73%, rgba(248, 247, 250, 0));
}

@media (min-width: 600px) {
    .css-j594bf {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .css-jmyt6v {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    
}
/* main */

@media (min-width: 1200px){
    .css-6yazz {
        max-width: 100%;
    }
}

.css-6yazz {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    padding: 1.5rem;
    transition: padding 0.25s ease-in-out 0s;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.css-6yazz > :first-of-type {
    height: 100%;
}

.css-178g8h0 {
    width: 100%;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(47, 43, 61, 0.16) 0px 4px 11px 0px;
}

.css-1e18chc {
    flex: 0 0 auto;
    z-index: 9;
    display: block;
    position: static;
}

.css-1e18chc .MuiDrawer-paper {
    box-shadow: none;
    width: 260px;
    z-index: 2;
    position: static;
}

.css-1ai41gd {
    background-color: rgb(255, 255, 255);
    color: rgba(47, 43, 61, 0.78);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
    outline: 0px;
    left: 0px;
    border-right: 1px solid rgba(47, 43, 61, 0.16);
    box-shadow: rgba(47, 43, 61, 0.1) 0px 4px 18px 0px;
}

.css-1g9cy35 {
    padding: 1.5rem;
    overflow-y: hidden;
}

.scrollbar-container {
    position: relative;
    height: 100%;
}

.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.css-1f1tgke {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    line-height: 1.2;
    font-size: 0.9375rem;
    letter-spacing: 0.43px;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background-color: rgb(115, 103, 240);
    width: 100%;
    min-width: 50px;
    text-transform: none;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(47, 43, 61, 0.14) 0px 2px 6px 0px;
    padding: 0.625rem 1.25rem;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-nah09k {
    padding-top: 0rem;
    overflow-y: hidden;
}

.css-rfh0jy {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
}

.css-ayqrd {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-left: 3px solid rgb(115, 103, 240);
    padding: 0.375rem 1.25rem;
    margin-bottom: 0.25rem;
}

.css-rfh0jy .MuiListItemIcon-root {
    margin-right: 0.5rem;
}

.css-q6qbme:hover, .css-1qggoe9:hover, .css-3cjhag:hover {
    background-color: rgba(47, 43, 61, 0.08);
}

.css-1aa4flz {
    flex-shrink: 0;
    display: inline-flex;
    margin-right: 0.5625rem;
    color: rgb(115, 103, 240);
    min-width: 0px !important;
    width: 24px;
}

.css-ygfhfr {
    flex: 1 1 auto;
    min-width: 0px;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.css-l55fyy {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    margin-left: 0.5rem;
}

.css-d8dfyf {
    margin: 0px;
    line-height: 1.467;
    font-size: 0.9375rem;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: rgb(115, 103, 240);
    font-weight: 500;
}

.css-l55fyy .MuiBadge-badge {
    height: 18px;
    min-width: 18px;
    color: rgb(115, 103, 240);
    background-color: rgba(115, 103, 240, 0.16);
    transform: none;
    position: relative;
}

.css-1y13003 {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    min-width: 20px;
    line-height: 1;
    padding: 0px 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(115, 103, 240);
    color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
    font-size: 0.75rem;
}

.css-7wpcdz {
    flex-shrink: 0;
    display: inline-flex;
    margin-right: 0.5625rem;
    color: rgba(47, 43, 61, 0.68);
    min-width: 0px !important;
    width: 24px;
}

.css-lldr8c {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-left: 3px solid transparent;
    padding: 0.375rem 1.25rem;
    margin-bottom: 0.25rem;
}

.css-1cld36u {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    margin-left: 0.5rem;
}

.css-1cld36u .MuiBadge-badge {
    height: 18px;
    color: rgb(234, 84, 85);
    background-color: rgba(234, 84, 85, 0.16);
    min-width: 18px;
    transform: none;
    position: relative;
}

.css-rr1s15 {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    min-width: 20px;
    line-height: 1;
    padding: 0px 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(234, 84, 85);
    color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
    font-size: 0.75rem;
}

.css-1cxd27s .MuiBadge-badge {
    height: 18px;
    min-width: 18px;
    transform: none;
    position: relative;
    color: rgb(255, 159, 67);
    background-color: rgba(255, 159, 67, 0.16);
}

.css-1uzha3u {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    min-width: 20px;
    line-height: 1;
    padding: 0px 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(255, 159, 67);
    color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
    font-size: 0.75rem;
}

.css-ht2px3 {
    margin: 0px;
    line-height: 1.467;
    font-size: 0.9375rem;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(47, 43, 61, 0.78);
    display: block;
    font-weight: 500;
}

.css-hju3ih {
    font-size: 0.8125rem;
    line-height: 1.53846;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: rgba(47, 43, 61, 0.42);
    margin: 1.375rem 1.5rem 0.375rem;
    text-transform: uppercase;
}

.css-1ontqvh {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
}

.css-1nr3480 {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-left: 3px solid transparent;
    padding: 0.1875rem 1.25rem;
    margin-bottom: 0.25rem;
}

.css-6df7ix {
    flex-shrink: 0;
    display: inline-flex;
    color: rgba(47, 43, 61, 0.78);
    margin-right: 0.625rem;
    min-width: 0px !important;
}

.css-1owt0pf {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.css-18mck33 {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.css-a5qsvr {
    padding: 0.9375rem 1.25rem;
}

.css-7pf6at {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.css-q97apt {
    line-height: 1.4375em;
    font-size: 0.9375rem;
    font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    color: rgba(47, 43, 61, 0.78);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.css-1kw1fyj {
    display: flex;
    height: 0.01em;
    max-height: 2em;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    margin-right: 8px;
    color: rgba(47, 43, 61, 0.42);
}

.css-fvrium {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    padding: 4px 0px 5px;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
}

.css-uv5viy {
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(47, 43, 61, 0.16);
    margin: 0px !important;
}

@media (min-width: 0px){
    .css-4ogw32 {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }

}

.css-4ogw32 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.css-1lekzkb {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-70qvj9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-1qggoe9 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    padding: 9px;
    border-radius: 50%;
    color: rgba(47, 43, 61, 0.68);
}

.css-1m9pwf3 {
    cursor: inherit;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.css-3cjhag {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgba(47, 43, 61, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 5px;
    font-size: 1.05469rem;
    width: 28px;
}