<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles/admin.css">
</head>
<body>
    <!-- Nội dung trang -->
    <div id="_next">
        <div class="layout-wrapper css-uinsfl">
            <div class="css-1e72eac">
                <%- include ("../containerLeft.ejs") %>
            </div>
            <div class="layout-content-wrapper css-34b9xr">
                <%- include ("../containerRight.ejs") %>
                <%- include ("./ViewUser.ejs") %>
            </div>
        </div>
    </div>
</body>
</html>